@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0a0a0a;
    min-height: 200vh;
    font-family: 'Avenir', sans-serif;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
    background: #0a0a0a;
    z-index: -1;
}
header {
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6%;
    padding: 25px 100px;
    z-index: 100000;
}

header .logo {
    position: relative;
    font-weight: 800;
    color: #fff;
    text-decoration: none;
    font-size: 1.55em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6%;
    font-family: 'Helvetica', sans-serif;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    font-weight: 500;
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500;
    transition: 0.5s;
    padding: 0 10px;
}

.active {
    display: inline-block;
    position: relative;
    color: #DAA520;
}

.active::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -10px;
    left: 0;
    background-color: #DAA520;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav {
    display: inline-block;
    position: relative;
    color: #fff;
  }
  
.nav::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -10px;
    left: 0;
    background-color: #DAA520;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
.nav:hover:after, .active::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

header .sticky .logo,  
header .sticky ul li a {
  color: #0a0a0a;
  background-color: #DAA520;
}

#hamburger-input {
    display: none;
}

#hamburger-menu {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    display: none;
    border: none;
    padding: 0px;
    margin: 0px;
    font-family: 'Avenir', sans-serif;
    background:  linear-gradient(
        to bottom, 
        #0a0a0a, #0a0a0a 20%, 
        white 20%, white 40%, 
        #0a0a0a 40%, #0a0a0a 60%, 
        white 60%, white 80%, 
        #0a0a0a 80%, #0a0a0a 100%
      );
}

#hamburger-menu #sidebar-menu {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: -250px;
    width: 200px;
    height: 100%;
    background-color: #0a0a0a;
    transition: 0.3s;
    padding: 0px 10px;
    box-sizing: border-box;
}

#hamburger-menu h3 {
    color: #DAA520;
    font-size: 5rem;
  }
  
  #hamburger-menu ul {
    padding-right: 0px;
  }
  
  #hamburger-menu li {
    list-style-type: none;
    line-height: 6rem;
  }
  
  #hamburger-menu a {
    color: white;
    font-size: 3.5rem;
    text-decoration: none;
    padding: 10px;
  }
  
  #hamburger-menu a:hover {
    text-decoration: underline;
  }
  
  #hamburger-input:checked + #hamburger-menu #sidebar-menu {
      visibility: visible;
      left: 0;
  }
  #hamburger-input:checked ~ .overlay{
     visibility: visible;
    opacity: 0.4;
  }
  
  
  @media screen and (max-width: 875px) {
    header {
      display: none;
    }
    #hamburger-menu {
      display: inline;
    }
  }

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #0a0a0a;
  }

.wrapper .static-txt {
    color:white;
    font-size: 60px;
    font-weight: 400;
 }

.wrapper .dynamic-txts {
    padding-bottom: 3px ;
    margin-left: 15px;
    line-height: 90px;
    height: 80.75px;
    background-color: #0a0a0a;
    overflow: hidden;
 }
.dynamic-txts li {
    color: #DAA520;
    list-style: none;
    font-size: 60px;
    font-weight:500;
    position: relative;
    top: 0;
    animation: slide 6s steps(4) infinite;
 }
 @keyframes slide {
    100% {
        background-color: #0a0a0a;
        top: -360px;
    }
 }
.dynamic-txts li span {
    position: relative;
 }

.dynamic-txts li span::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background: #0a0a0a;
    border-left: 2px solid #DAA520;
    animation: typing 1.5s steps(10) infinite;  
}

.me {
  width: 100%;
  color:white;
}

.me h3 {
  position: relative;
  font-family: 'Helvetica', sans-serif;
  font-size: 60px;
  font-weight: 650;
  text-align: center;
  padding-left: 250px;
  padding-top: 200px;
  text-shadow: 2px 2px 4px black;
}


.me p {
  position: absolute;
  font-family: 'Helvetica',sans-serif;
  font-size: 20px;
  font-weight: 200;
  line-height: 50px;
  align-items: center;
  padding-left: 800px;
}

.me a,#mail, #tel {
  position: absolute;
  font-family: 'Helvetica', sans-serif;
  font-size: 20px;
  font-weight: 200;
  line-height: 50px;
  color: grey;
  align-items: center;
  padding-left: 1000px;
}



 @keyframes typing {
    100% {
        left: 100%;
        margin: 0 -35px 0 35px;
    }
 }

 @media(max-width: 998px) {
    html {
        font-size: 65%;
    }
 }

 @media(max-width: 768px) {
    html {
        font-size: 45%;
    }
 }


